<h1>Burger</h1>
<div class="Burger">
  <div class="BreadTop">
    <div class="Seeds1"></div>
    <div class="Seeds2"></div>
  </div>
  <div class="Salad"></div>
  <div class="Cheese"></div>
  <div class="Meat"></div>
  <div class="BreadBottom"></div>
</div>
<p class="price"><strong>Price: {{ingredient}}</strong></p>
