
  <div class="card">
    <img src="https://bipbap.ru/wp-content/uploads/2018/08/11-1.jpg"
         alt="" style="max-width: 30%"
         id="meat"
         (click)="onAddIngredients($event)"

    />
    <span class="card-title">{{ burger.nameMeat }}</span>
    <span class="card-text">{{ burger.number }}</span>
    <span class="card-price">{{ burger.price }} </span>
    <button type="button" class="btn" >Delete</button>
  </div>

  <div class="card">
    <img src="https://bipbap.ru/wp-content/uploads/2018/08/11-1.jpg"
         alt="" style="max-width: 30%"
         id="cheese"
         (click)="onAddIngredients($event)"
    />
    <span class="card-title">{{ burger.nameCheese }}</span>
    <span class="card-text">{{ burger.number }}</span>
    <span class="card-price">{{ burger.price }} </span>
    <button type="button" class="btn" >Delete</button>
  </div>


  <div class="card">
    <img src="https://bipbap.ru/wp-content/uploads/2018/08/11-1.jpg"
         alt="" style="max-width: 30%"
         id="salad"
         (click)="onAddIngredients($event)"
    />
    <span class="card-title">{{ burger.nameSalad }}</span>
    <span class="card-text">{{ burger.number }}</span>
    <span class="card-price">{{ burger.price }} </span>
    <button type="button" class="btn" >Delete</button>
  </div>


  <div class="card">
    <img src="https://bipbap.ru/wp-content/uploads/2018/08/11-1.jpg"
         alt="" style="max-width: 30%"
         id="bacon"
         (click)="onAddIngredients($event)"
    />
    <span class="card-title">{{ burger.nameBacon }}</span>
    <span class="card-text">{{ burger.number }}</span>
    <span class="card-price">{{ burger.price }} </span>
    <button type="button" class="btn" >Delete</button>
  </div>



